<div class="sidebar"></div>

<div class="mainBox">
    <form enctype="multipart/form-data" method="POST" action="/handleUpload">
        <input type="file" multiple required accept="image/*" name="imagetoupload">
        <input type="submit">
    </form>
</div>